{% extends "base.html" %}
{% load staticfiles %} 
{% block js_modulo %}
<!--sus js -->

<!--funciones -->
<script src="{% static 'apps/departamentos/funciones/funciones.departamentos.js' %}"></script>
<!--stores -->

<!--combos -->

<!--toolbars -->

<!--formas -->

<!--grids -->
<script src="{% static 'apps/departamentos/grids/grid.departamentos.js' %}"></script>
<!--paneles -->

<!--tabs -->

<!--ventanas -->

<!--viewports -->
<script src="{% static 'apps/departamentos/viewports/viewport.departamentos.js' %}"></script> 
{% endblock js_modulo %}


